@import '../../global.scss';


.portfolioList{
    font-size: 18px;
    font-weight: 500;
    margin-right: 20px;
    padding: 3px;
    border-radius: 10px;
    cursor: pointer ;
    justify-items: center;
    align-items: center;

    &.active{
        background-color: $mainColor;
        color: white;
    }
}